html {
    /* background-image: radial-gradient(#056675,#051828); */
    background-image: url('../img/1440x812-Q80_a07703ca3b6a116da27420bfbe5061ec.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.disney-plus-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}